
<main class="main">

	{{> nav-altered}} {{> emperors-alt}}



  <div id="frst-carousel" class="frst-container frst-carousel" style="max-width:100%">
         <div class="frst-timeline-style-17">
 	<div class="timeline">
 		<div class="events-wrapper">
 			<div class="events">
 				<ol>
 					<li><a href="#0" data-date="01/01/2003" class="selected">2003</a></li>
 					<li><a href="#0" data-date="01/01/2004">2004</a></li>
 					<li><a href="#0" data-date="01/01/2006">2006</a></li>
 					<li><a href="#0" data-date="01/01/2010">2010</a></li>
 					<li><a href="#0" data-date="01/01/2012">2012</a></li>
 					<li><a href="#0" data-date="01/01/2013">2013</a></li>
 					<li><a href="#0" data-date="01/01/2015">2015</a></li>
 					<li><a href="#0" data-date="01/01/2016">2016</a></li>
 				</ol>

 				<span class="filling-line" aria-hidden="true"></span>
 			</div> <!-- .events -->
 		</div> <!-- .events-wrapper -->

 		<ul class="frst-timeline-navigation">
 			<li><a href="#0" class="prev inactive">Prev</a></li>
 			<li><a href="#0" class="next">Next</a></li>
 		</ul> <!-- .frst-timeline-navigation -->
 	</div> <!-- .timeline -->

 	<div class="events-content">
 		<ol>
             <li class="selected" data-date="01/01/2003">
 				<h2>Linkedin</h2>
 				<em>2003</em>
 				<p>
 					Linkedin begins.

 				</p>
 			</li>
 			<li data-date="01/01/2004">
                <h2>Foundation of Facebook</h2>
 				<em>2004</em>
 				<p>
 					The Facebook website was launched on February ,2004
 				</p>
                 <div class="media-section"><img src="images/facebook-foundation.jpg" /></div>

 			</li>

 			<li data-date="01/01/2006">
 				<h2>Twitter</h2>
 				<em>2006</em>
 				<p>
 					Twitter was created in March 2006.
 				</p>
 			</li>

 			<li data-date="01/01/2010">
 				<h2>Instagram</h2>
 				<em>2010</em>
 				<p>
 					Instagram is launched in October 2010 as a free mobile app exclusively for the IOS operating system.
 				</p>
                 <div class="media-section"> <iframe width="560" height="315" src="https://www.youtube.com/embed/oG8P5MZ9_cI" frameborder="0" allowfullscreen></iframe></div>

 			</li>

 			<li data-date="01/01/2012">
 				<h2>Facebook Began selling stock</h2>
 				<em>2012</em>
 				<p>
                 Facebook began selling stock to the public and trading on the NASDAQ on MAY 18,2012.
 				</p>
 			</li>

 			<li data-date="01/01/2013">
 				<h2>Twitter music for the Iphone</h2>
 				<em>2013</em>
 				<p>
 				Twitter launched a music app called Twitter Music for the Iphone.
 				</p>
 			</li>


 			<li data-date="01/01/2015">
 				<h2>Youtube Kids</h2>
 				<em>2015</em>
 				<p>
 					In February 2015, Youtube released a secondary mobile app known as Youtube Kids.

 				</p>
                 <div class="media-section"><img src="images/youtube-kids.png" /></div>
 			</li>

 			<li data-date="01/01/2016">
 				<h2>Skype free video group calling</h2>
 				<em>2016</em>
 				<p>
 					In January 2016, Skype announced it would roll out free group video calling to users on mobile devices, including iOS and Android. In February 2016, Microsoft announced that it had started to introduce group calling on smartphones and tablets in North America and Western Europe.
 				</p>
 			</li>


 		</ol>
 	</div> <!-- .events-content -->
 </div>
             <!-- frst-timeline -->
         </div>


</main>
