<main class="main">

	{{> nav-altered}} {{> history}}
	<div class="tl-stage-story-holder" style="display:none;">
		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">
				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Numerous visitors visit  the Palace Museum</h3>
							<h4 class="tl-sb-date">2013</h4>
							<p class="text tl-sb-intro-text tl-font-body">Over 175,000 visitors visit the Palace Museum in one day.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">A Starbucks opens in the Forbidden City</h3>
							<h4 class="tl-sb-date">2000</h4>


							<p class="text tl-sb-intro-text tl-font-body">Starbucks opens a coffee shop near the Gate of Heavenly Purity in the Forbidden City (but, due to unpopularity over what was seen as a foreign...</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Forbidden City becomes Heritage Site</h3>
							<h4 class="tl-sb-date">1987</h4>


							<p class="text tl-sb-intro-text tl-font-body">Built between 1406 and 1420, the complex consists of 980 buildings and covers 72 ha (180 acres). The Forbidden City exemplifies traditional Chinese...</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Japanese invasion of China</h3>
							<h4 class="tl-sb-date">1937</h4>


							<p class="text tl-sb-intro-text tl-font-body">The Second Sino-Japanese War (July 7, 1937 – September 9, 1945), called so after the First Sino-Japanese War of 1894–95, was a military conflict...</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="tl-story-block tl-story-category-view-standard tl-sb-low-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Puyi leaves the Forbidden City</h3>
							<h4 class="tl-sb-date">1924</h4>


							<p class="text tl-sb-intro-text tl-font-body">Empress Dowager Longyu endorsed the "Imperial Edict of the Abdication of the Qing Emperor" on 12 February 1912 under a deal brokered by Yuan Shikai (a...</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="tl-story-block tl-story-category-view-standard tl-sb-low-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Forbidden City becomes museum</h3>
							<h4 class="tl-sb-date">1924</h4>


							<p class="text tl-sb-intro-text tl-font-body">On October 10, 1925 , the Palace Museum was established in the Forbidden City. The large amount of treasures and curiosities housed there were...</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="tl-story-block tl-story-category-view-standard tl-sb-low-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Emperor Xuantong abdicates</h3>
							<h4 class="tl-sb-date">1912</h4>


							<p class="text tl-sb-intro-text tl-font-body">Puyi ruled as the Xuantong Emperor from 1908 until his abdication on 12 February 1912, after the successful Xinhai Revolution. From 1 to 12 July...</p>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Empress Dowager Cixi dies</h3>
							<h4 class="tl-sb-date">1908</h4>


							<p class="text tl-sb-intro-text tl-font-body">Empress Dowager Cixi dies.</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head"> Eight-Nation Alliance loots city</h3>
							<h4 class="tl-sb-date">1900</h4>


							<p class="text tl-sb-intro-text tl-font-body">The Eight-Nation Alliance was an alliance of Austria-Hungary, France, Germany, Italy, Japan, Russia, the United Kingdom, and the United States, whose...</p>
						</div>
					</div>
				</div>

			</div>
		</div>


		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Emperor Guangxu's wedding</h3>
							<h4 class="tl-sb-date">1889</h4>


							<p class="text tl-sb-intro-text tl-font-body">Emperor Guangxu (14 August 1871 – 14 November 1908) was the eleventh emperor of the Qing Dynasty, and the ninth Qing emperor to rule over China. His...</p>
						</div>
					</div>
				</div>

			</div>
		</div>



		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Empress Dowage rCi'an and Cixi become co-regents</h3>
							<h4 class="tl-sb-date">1861</h4>


							<p class="text tl-sb-intro-text tl-font-body">Emperor Xianfeng dies. Empresses Dowager Ci'an and Cixi become co-regents for Emperor Tongzhi. They are appointed joint de facto regents for the...</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Burning of Yuan Ming Yuan Palace</h3>
							<h4 class="tl-sb-date">1860</h4>


							<p class="text tl-sb-intro-text tl-font-body">French and British troops occupy the Forbidden City and burn and loot the Yuan Ming Yuan palace outside Beijing. Yuan Ming Yuan (often referred as the...</p>
						</div>
					</div>
				</div>

			</div>
		</div>





		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">The Future Empress Dowager Cixi  moves into the Forbidden City</h3>
							<h4 class="tl-sb-date">1851</h4>


							<p class="text tl-sb-intro-text tl-font-body">Empress Dowager Cixi was a powerful and charismatic woman who unofficially but effectively controlled the Manchu Qing Dynasty for 47 years, from 1861...</p>
						</div>
					</div>
				</div>

			</div>
		</div>








		<div class="tl-story-block tl-story-category-view-standard tl-sb-low-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Completion of Qianlong Garden</h3>
							<h4 class="tl-sb-date">1776</h4>


							<p class="text tl-sb-intro-text tl-font-body">Qianlong Garden, also called The Palace of Tranquil Longevity (Chinese:寧壽宮), literally, "peaceful old age palace," is a palace located in the...</p>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Ten Thousand Envoys Came to Pay Tribute to Emperor Qianlong</h3>
							<h4 class="tl-sb-date">June 1761</h4>


							<p class="text tl-sb-intro-text tl-font-body">The tribute-bringers include Europeans and different types of Asians, including a group of Thai emissaries on elephants. All emphasize the universal...</p>
						</div>
					</div>
				</div>

			</div>
		</div>



		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Box of Heir Apparent established by Emperor Yongzheng</h3>
							<h4 class="tl-sb-date">1725</h4>


							<p class="text tl-sb-intro-text tl-font-body">Emperor Yongzheng institutes the system of the "Box of the Heir Apparent" to ensure peaceful succession of emperors. He begins the practice of...</p>
						</div>
					</div>
				</div>

			</div>
		</div>



		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Russian officials visit Emperor Kangxi</h3>
							<h4 class="tl-sb-date">1695</h4>


							<p class="text tl-sb-intro-text tl-font-body">Russian officials visit Emperor Kangxi.</p>
						</div>
					</div>
				</div>

			</div>
		</div>



		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Li Zicheng leads rebel army and ends Ming Dynasty</h3>
							<h4 class="tl-sb-date">1644</h4>


							<p class="text tl-sb-intro-text tl-font-body">The Battle of Shanhai Pass, fought on 27 May 1644 at Shanhaiguan (山海關) at the eastern end of the Great Wall of China, was a decisive battle leading to...</p>
						</div>
					</div>
				</div>

			</div>
		</div>



		<div class="tl-story-block tl-story-category-view-standard tl-sb-low-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Emperor Wanli refuses to attend court</h3>
							<h4 class="tl-sb-date">1600 - 1620</h4>


							<p class="text tl-sb-intro-text tl-font-body">During the later years of Emperor Wanli's reign, he becomes thoroughly alienated from his imperial role and, in effect, goes on strike. He refuses to...</p>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Wei Zhongxian gains power</h3>
							<h4 class="tl-sb-date">1585</h4>


							<p class="text tl-sb-intro-text tl-font-body">Wei Zhongxian enters into service in the court of the Emperor Tianqi in the Forbidden City. He became one of the most powerful and vicious eunuchs...</p>
						</div>
					</div>
				</div>

			</div>
		</div>



		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Attempt to assassinate Emperor Jiajing</h3>
							<h4 class="tl-sb-date">1542</h4>


							<p class="text tl-sb-intro-text tl-font-body">Palace women attempt to assassinate Emperor Jiajing by choking him, but fail. The attempt was prompted by Jiajing's abuse of palace women.</p>
						</div>
					</div>
				</div>

			</div>
		</div>



		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Lantern Festival Fire</h3>
							<h4 class="tl-sb-date">1514</h4>


							<p class="text tl-sb-intro-text tl-font-body">The Lantern Festival is a festival celebrated on the fifteenth day of the first month in the lunisolar year in the lunar calendar, marking the last...</p>
						</div>
					</div>
				</div>

			</div>
		</div>





		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Forbidden City Opening</h3>
							<h4 class="tl-sb-date">1421</h4>


							<p class="text tl-sb-intro-text tl-font-body">The Forbidden City formally opens on Chinese New Year's Day, and remains the imperial palace from the Ming dynasty to the end of the Qing dynasty....</p>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="tl-story-block tl-story-category-view-standard tl-sb-normal-height">
			<div class="tl-sb-inner tl-sb-gallery-active">


				<div class="content">
					<div class="content-inner">
						<div class="tl-sb-basic-info-holder">
							<h3 class="tl-sb-headline tl-font-head">Design of the Forbidden City</h3>
							<h4 class="tl-sb-date">1406</h4>


							<p class="text tl-sb-intro-text tl-font-body">Design and engineering starts on the Forbidden City.</p>
						</div>
					</div>
				</div>

			</div>
		</div>



	</div>



	<div class="frst-container content-alternate">
		<!-- frst-left-align/frst-right-align/frst-alternate/frst-date-opposite-->
		<div class="frst-timeline frst-timeline-style-4 frst-alternate">
			<div class="frst-timeline-block frst-timeline-label-block"  data-animation="slideInUp">
				<div class="frst-labels frst-start-label"> <span style="visibility: hidden"> Frst Responsive Timeline</span> </div>
				<!-- .frst-start-label -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>1890</h2> </div>
						<div class="icon-section"> <i class="fa fa-star fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></i></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>1920</h2> </div>
						<div class="icon-section"> <i class="fa fa-cloud fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>1940</h2> </div>
						<div class="icon-section"> <i class="fa fa-mobile fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>1955</h2> </div>
						<div class="icon-section"> <i class="fa fa-hourglass fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>1967</h2> </div>
						<div class="icon-section"> <i class="fa fa-check fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>1978</h2> </div>
						<div class="icon-section"> <i class="fa fa-thumbs-o-up fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>1989</h2> </div>
						<div class="icon-section"> <i class="fa fa-user fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>1993</h2> </div>
						<div class="icon-section"> <i class="fa fa-trash fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>2002</h2> </div>
						<div class="icon-section"> <i class="fa fa-plus fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>2007</h2> </div>
						<div class="icon-section"> <i class="fa fa-hashtag fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>2011</h2> </div>
						<div class="icon-section"> <i class="fa fa-flash fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>2012</h2> </div>
						<div class="icon-section"> <i class="fa fa-copyright fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>2013</h2> </div>
						<div class="icon-section"> <i class="fa fa-code fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-even-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>2015</h2> </div>
						<div class="icon-section"> <i class="fa fa-cog fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
			<div class="frst-timeline-block frst-odd-item" data-animation="slideInUp">
				<div class="frst-timeline-img"> <span></span> </div>
				<!-- frst-timeline-img -->
				<div class="frst-timeline-content">
					<div class="frst-timeline-content-inner">
						<div class="side-border">
							<h2>2016</h2> </div>
						<div class="icon-section"> <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i> </div>
						<h2>Amazing responsive timeline</h2>
						<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lobortis est sit amet augue aliquam vestibulum. Donec tempus erat in gravida dapibus. Sed suscipit tempor tellus ut mollis. </p>
					</div>
					<!-- frst-timeline-content-inner -->
				</div>
				<!-- frst-timeline-content -->
			</div>
			<!-- frst-timeline-block -->
		</div>
		<!-- frst-timeline -->
	</div>
	<!-- .frst-container -->
	</div>
</main>
