---
places:
- name: Imperial Palace
  first-letter: I
  description: "mperial Palace is the largest palace
    in the world. Established in the early 14th century and periodically hit by fire,
    rebuilt and expanded over the years, it covers 178 acres and contains the world's largest moat. Now called the Palace Museum,
    it occupies most of the Forbidden City and is covers almost twice as much area
    as Tiananmen Square, the largest square in the world."
  description2: "On each of the four
    corners of the wall is a watch tower. The basic design of the watchtowers appeared in a dream of one of the
    emperors, according to one story. Craftsmen were asked to make watchtowers that
    fit this design and feared they would lose their heads when they couldn't."
  image: imperialpalace.jpg
- name: Palace Museum
  first-letter: P
  description: "alace Museum displays some of the most
    impressive jewelry and art in all China. Among the treasures are silver and jade
    kitchen utensils, musical instruments, silk screen paintings, glazed tiles, imperial
    seals, paintings, calligraphy, lacquerware, porcelain, enamels, gold vessels,
    silverware and ancient jade articles and bronzes."
  description2: "The Palace Museum objects are mostly
    in the buildings of the Six Eastern and Western Palaces and the Eastern Outer
    Palaces. Highlight include a gold dragon robe made of peacock feathers, pearls
    and coral beads and several gem-inlaid, gold towers that each weigh over 225 pounds.
    The Golden Pagoda of Hair was made under the orders of the Qianlong Emperor to
    preserve the hair lost through daily combing."
  image: palacemuseum.jpg
- name: Wumen Gate
  first-letter: W
  description: "umen Gate is
    the main entrance and the largest gate in Forbidden City. Located at the central
    axis of Beijing, it is topped by five yellow-roofed pavilions that look down on
    a huge, cobbled courtyard. The gate has five openings. The central one was for
    the exclusive use of the Emperor."
  description2: "On the lunar New Year the Emperor
    entered the Imperial Palace at Wumen Gate to the sound of drums and gongs, flanked
    by Burmese elephants, to announce the festivals for the coming year. He also presided
    over ceremonies in which victorious generals were sent off to battle and presented
    prisoners of war were presented and where disgraced officials were flogged and
    executed."
  description3: "Two huge bronze lions stand on either
    side of Wumen Gate. They are the heaviest lions in the palace. Under the right
    paw of he make lion is a ball, symbolizing imperial power. Under the right paw
    of the female lion is a baby lion, symbolizing fertility. All the lions in the
    palace possess the same symbols."
  image: wumengate.jpg
- name: Gate of Supreme Harmony
  first-letter: G
  description: "ate of Supreme Harmony is the main entrance to the Outer Palace of the Forbidden City.
    It is the tallest gate in the palace and has a lovely double-eaved, yellow-tile
    roof. Golden lions with bear cubs in their paws guard the gates. \n\n The Square
    of the Hall of Supreme Harmony, between Taihe Gate and Taihe Hall, covers 30,000
    square meters. A central Imperial Road is paved with large stone slabs and bricks.
    Five white stone bridges crossing a stream. \n\n On the western side of the square
    is the Pavilion of Enlarging Right Conducts. It is 25 meters high and
    was used during the Qin Dynasty as a treasury and a place to store silver. On
    the eastern side of the square are storehouses used to keep silks and satins."
  image: gateofsupremeharmony.jpg
- name: Hall of Supreme Harmony
  first-letter: H
  description: "all of Supreme Harmony is first building you come to after passing through
    the Gate of Supreme Harmony. Almost the size of a football field, it is the largest
    wood building in China and one of the largest wood buildings in the world. Standing
    37.4 meters high and covering an area of 2,377 square meters, it stands
    on a marble terrace and has an immense roof supported by eaves painted
    with dragons and pillars made from single pieces of timber."
  description2: "Hall of
    Supreme Harmony was built according to principals of feng
    shui. There are a total f 13,844 dragons
    on the columns, screens, eaves and ceiling of the hall. Among the most
    stunning features of the hall are the rows of carved white marble balustrades
    on the terraces that ascend to the hall from the courtyard."
  description3: The interior of the hall is dominated by gilded columns that have dragons coiled around them. On a raised platform sits the golden imperial throne and
    a magnificent golden screen behind it. The Last Emperor Puyi was crowned here in 1908 when
    he was three years old.
  image: hallofsupremeharmony.jpg
- name: Palace of Heavenly Purity
  first-letter: P
  description: "alace of Heavenly Purity is the first hall you come to in the Inner
    Palace. The most important building in the Inner Court, it was built in 1420 and
    is 24 meters high and decorated with small paintings. On both sides of the terraces
    before the palace are two gilded pavilions."
  description2: "In the center of the main hall
    is a square platform with a throne, the emperor's desk and an ornate dragon screen.
    The throne and the screen are gilded and decorated with delicate carvings. The
    throne is inlaid with rubies and emeralds and has gilded handles on the back designed
    to look like coiled dragons.
  description3: Before Emperor Kangxi of the Qing Dynasty, is where the Emperor
    lived, slept and handled government affairs. The Qing emperors used it like an
    office to handle political matters and receive officials and foreign envoys."
  image: palaceofheavenlypurity.jpg
- name: Hall of Union
  first-letter: H
  description: "all of Union (Jiaotai Hall, after Qianqing Hall within the Inner
    Palace of the Forbidden City) is the second hall you come to in the Inner Palace.
    Similar in design to the Hall of Complete Harmony, it is a square building topped
    by a glazed tile roof that comes to a point, where there is a gold-plated ball.
    In the Qing era a ceremony was held here to grant title to the Empress to celebrate
    her birthday. Behind it is where the Empresses resided and their thrones were
    placed. Ceremonies celebrating the Empresses birthdays and New Years and the silkworm
    breeding season were held here. \n\n Twenty-five jade imperial seals of the Qing
    Emperors and a clepsydra (water clock) are kept here. The clepsydra is composed
    of five bronze vessels, each with a small hole at the bottom. When the vessels
    filled with water the water begian to drip evenly through the holes. Also check
    out the gilded ceiling of the main hall. Depicting a dragon surrounding by phoenixes,
    it is regarded as the finest ceiling in the palace."
  image: hallofunion.jpg
- name: Palace of Earthly Tranquility
  first-letter: P
  description: "alace of Earthly Tranquility is the third hall you come to in the Inner
    Palace. Built in 1420 and rebuilt in 1655, it features a double eaved-roof, windows
    decorated in Manchu style. The central part
    of the main hall was for the Emperor to worship in and eat sacrificial meats.
    In the western part is a statue of God. In the eastern part is a bridal chamber
    for the Emperor and Empress, which was also the site of royal sacrifices. In the
    back is a broad kang."
  description2: The Ming Empresses lived here when it was first built,
    though later it was turned into a shrine for worshiping gods. Emperors Kangxi.
    Tongzhi and Guangxu had their wedding ceremonies in this building. The bridal
    chamber is filled with auspicious signs, especially dragons, phoenixes and the
    Chinese characters for double happiness."
  image: palaceofearthlytranquility.jpg
- name: Nine Dragon Screen
  first-letter: N
  description: "ine Dragon Screen (east of Baohe Hall in the Forbidden City) is a
    3½-meter-high and 29.4-meter-long screen made of 270 multicolored glazed tiles.
    Nine five-clawed dragons romp on a sea against a blue and green background of
    rolling clouds and seas. \n\n The screen was erected in 1771. The third dragon
    from the left is a different color from the others.  According to one story the
    tile that contained this dragon was not ready when the screen was scheduled to
    be unveiled. Since the craftsmen were told they would be beheaded if the project
    wasn't done in time a carpenter made a wooden dragon that looked like the original
    and glued it into place. Fortunately the Emperor didn't notice and no one lost
    their head."
  image: dragon.jpg

---

<main class="main">

	{{> nav-altered}} {{> whattosee-alt}}
<div class="container">

{{#each places}}
<article class="place o-pack o-pack--middle u-margin-top-huge u-margin-bottom-huge">
  <div class="place__description o-pack__item u-padding-right-large u-padding-vertical">
    <span class="place__letter">{{first-letter}}</span>
    <p>
      {{description}}
    </p>
    <p>
      {{description2}}
    </p>
    <p>
      {{description3}}
    </p>
  </div>
  <div class="o-pack__item">

    <div class="place__image" style="background-image: url(../assets/toolkit/images/{{image}})">
        <h1 class="place__name section__title u-padding u-margin-none">{{name}}</h1>
        <Div class="place__pattern">

        </Div>
    </div>
  </div>
</article>

{{/each}}

</Div>

</main>
