
.jumbotron {
	position: relative;
  @extend %golden-ratio;
	&__background {
		@extend %object-fit-cover;
    opacity:0;

	}
  &__animation {
    display: block;
    @extend %object-fit-cover;
    &-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $bg repeat;

    }
  }

	&__pattern {
		width: 100%;
		height: 100%;
	}
	&__pattern-wrapper {
		position:absolute;
		top:0;
		bottom:0;
		left: 0;
		right: 0;
		display: block;
		background: $bg repeat;
		overflow: hidden;
		clip-path: polygon(100% 0, 0 100%, 0 0);
		mix-blend-mode: darken;
		transform-origin: top left;
		transform: scale(0.56);
	}
  &__link {
    position: absolute;
		right:20px;
		bottom: -70px;
		width: 50%;
		display: block;
		background: rgba(#fff,.9);
		text-align: center;
		border: 3px solid transparent;
		border-image: url(../images/border.png) 6;
		padding: 8px;
		z-index: 3;
		&--left {
			right: auto;
			left:20px;
		}
		> div {
			border: 2px solid transparent;
			border-image: url(../images/border.png) 6;
			padding: 8px;
		}
		small {
			text-transform: uppercase;
		}
  }

}
