.gold-text {
   scolor:#c3a343;
   -webkit-text-fill-color: transparent;
   background: -webkit-linear-gradient(transparent, transparent),
   url(http://theblogmarket.co/gold-texture-image.png) repeat;
   -webkit-background-clip: text;
}
